body {
  font-family: Arial, sans-serif;
  background: #869759;
  padding: 40px;
  text-align: center;
}

.top-section {
  background-color: #f0d9b5; 
  padding: 20px;
  border-radius: 8px;
}

h1 {
  color: black;
}

a button {
  padding: 20px 35px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}